
server:
  port: 8080
spring:
  application:
    name: product-composite-service
  config:
    activate:
      on-profile: docker
  cloud:
    stream:
      bindings:
        output-out-0:
          destination: product
      kafka:
        binder:
          brokers: localhost:9092
springdoc:
  swagger-ui.path: /openapi/swagger-ui.html
  api-docs.path: /openapi/v3/api-docs
  packagesToScan: ma.errabi.microservice.composite
  pathsToMatch: /**

app:
  product-service:
    host: http://product
    port: 8080
  review-service:
    host: http://review
    port: 8080
  recommendation-service:
    host: http://recommendation
    port: 8080

api:
  common:
    version: 1.0.0
    title: Sample API
    description: Description of the API...
    termsOfService: MY TERMS OF SERVICE
    license: MY LICENSE
    licenseUrl: MY LICENSE URL
    externalDocDesc: MY WIKI PAGE
    externalDocUrl: MY WIKI URL
    contact:
      name: NAME OF CONTACT
      url: URL TO CONTACT
      email: contact@mail.com
