server:
  port: 8001

spring:
  application:
    name: review-service
  datasource:
    url: jdbc:postgresql://ep-curly-thunder-a5bovt5y.us-east-2.aws.neon.tech:5432/review
    username: review
    password: RVlCws5U0QTu
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true

---
spring:
  application:
    name: review-service
  config:
    activate:
      on-profile: docker
server:
  port: 8080